<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

    <title>Hello, world!</title>
</head>

<body>
    <div class="alert alert-info ">
        <a href="LogIn" class="alert alert-danger " style="float: right;"><b>LogOut</b></a>
    </div>
    <center class="w-100">
        <h1 class="alert alert-primary w-75">Welcom To Admin Panel</h1>
    </center>

    <center>
        <div class="accordion container" id="accordionExample">
            <div class="accordion-item w-100">
              <h2 class="accordion-header" id="headingOne">
                <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                  
                        <b>
                             <h3 style="margin-left: 410px;"> Show All User Record</h3>
                            </b>
                   
                </button>
              </h2>
              <div id="collapseOne" class="accordion-collapse collapse show border-danger" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
                <div class="accordion-body">
                    <table class="table table-striped table-bordered">
                        <thead>
                            <tr class="bg-dark text-white">
                                <th scope="col">ID</th>
                                <th scope="col">Name</th>
                                <th scope="col">Father Name</th>
                                <th scope="col">Email Id</th>
                                <!-- <th scope="col">Password</th> -->
                                <th scope="col">Gender</th>
                                <th scope="col">Contact No</th>
                                <th scope="col">DOB</th>
                                <th scope="col">Operations</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for j in Record %}
                            <tr>
                                
                                <th scope="col">{{j.id}}</th>
                                <th scope="col">{{j.name}}</th>
                                <th scope="col">{{j.fname}}</th>
                                <th scope="col">{{j.email}}</th>
                                <!-- <th scope="col">{{j.password}}</th> -->
                                <th scope="col">{{j.gender}}</th>
                                <th scope="col">{{j.mobile}}</th>
                                <th scope="col">{{j.dob}}</th>
                                <th scope="col"><a href="preview?email={{j.email}}" class="btn btn-primary">Posts</a><a href="Del?id={{j.id}}" class="btn btn-danger">Delete</a></th>

                            </tr>
                
                            {% endfor %}
                        </tbody>
                    </table>
                                </div>
              </div>
            </div>
           
           
            </div>
          </div>
       
        <b>
            
        </b>
    </center>
    <div class=" mt-5 text-light p-2" style="background-color:black">
        <footer >
            

            <center>
                <div id="copyright">
                    &copy; All Rights Reserved 2022-2023
                </div>
                <div >
                    <span>
                        Designed by <a href="https://respectcoder.blogspot.com/">MindQ.Com</a>
                    </span>
                </div>
            </center>
        </footer>
    </div>


    <!-- Optional JavaScript; choose one of the two! -->

    <!-- Option 1: Bootstrap Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>

    <!-- Option 2: Separate Popper and Bootstrap JS -->
    <!--
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js" integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js" integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF" crossorigin="anonymous"></script>
    -->
</body>

</html>